html{font-family:"Lucida Sans Unicode","Helvetica","Arial",sans-serif;font-size:10px;margin:0;padding:0}
body{background:#cdf;margin:0;padding:0}
*:focus{outline:0.1em solid #39f;}

.login #spaces .title,
.login #spaces #content-area{display:none}
.login #spaces #login{background:#eee;border-color:#000;border-style:solid;border-width:0.1em;box-shadow:0.15em 0.15em 1em #99c;display:block;margin:8em auto 0;padding:2em;text-align:center;width:50em;}
#spaces #login h1{font-size:6em;margin:0 0 0.5em}
#spaces #login label,
#spaces #login input,
#spaces #login button{display:block;font-size:4em}
#spaces #login label,
#spaces #login button{width:100%}
#spaces #login input,
#spaces #login button{border-style:solid;border-width:0.025em;box-shadow:0.025em 0.025em 0.1em #999}
#spaces #login label{color:#666;}
#spaces #login input{border-color:#000;padding:0.1em 2%;width:96%;}
#spaces #login button{background:#dfd;border-color:#060;color:#060;font-weight:bold;margin:2em 0 0;padding:1em;}
#spaces #login{display:none}

#spaces #contextMenu{border-color:#000;border-style:solid solid none;border-width:0.1em;position:absolute;margin:0;padding:0}
#spaces #contextMenu li{display:block;list-style:none;margin:0;padding:0}
#spaces #contextMenu button{background:#ddd;border-color:#000;border-style:none none solid;border-width:0.05em;cursor:pointer;display:block;font-size:2em;margin:0;padding:0.5em;text-align:left;width:10em}
#spaces #contextMenu button:hover{background:#eee;color:#060;text-decoration:underline}
#spaces #contextMenu .destroy{background:#fdd;color:#c00}
#spaces #contextMenu .destroy:hover{background:#fcc;color:#f00}
#spaces #contextMenu .destroy[disabled],
#spaces #contextMenu button[disabled]{background:#eee;color:#999;cursor:not-allowed}

#spaces .fileDetailOutput{font-size:1.5em;padding:0.5em}
#spaces .fileDetailOutput h3{color:#009}
#spaces .fileDetailOutput h3,
#spaces .fileDetailOutput p{margin:0}
#spaces .fileDetailOutput th{font-weight:bold;text-align:left;width:10em}
#spaces .fileDetailOutput table{border-color:#000;border-style:none none solid;border-width:0.05em;margin:0 0 3em}
#spaces .fileDetailOutput .directory::before{content: "📂 "}
#spaces .fileDetailOutput .file::before{content: "📃 "}
#spaces .fileDetailOutput .link::before{content: "🔗 "}

#spaces .title{background:#ddd;border-color:#666;border-style:none none solid;border-width:0.1em;box-shadow:0 0.05em 0.5em #66c;display:block;height:5em}
#spaces .title h1{display:inline-block;font-size:2em;margin:0;padding:0.5em}
#spaces .title p{display:block;height:0.1em;position:absolute;top:-200em}
#spaces #menuToggle{background:#eee;border-color:#999;border-style:solid;border-width:0.05em;display:inline-block;font-size:2.4em;height:2.1em;margin:0 1em 0 0;padding:0;width:2.1em}
#spaces #menuToggle:hover{background:#fff}
#spaces #menuToggle span{position:absolute;top:-200em}
#spaces #content-area{overflow:scroll;margin:0;padding:0;position:relative}
#spaces button{font-family:inherit}
#spaces .icon-shareFiles{color:#09f}
#spaces .icon-fileNavigator{color:#3a3}
#spaces .icon-systemLog{color:#a00}
#spaces .icon-textPad{color:#c0f}
#spaces .icon-export{color:#aa0}

#spaces #menu{border:0.1em solid #000;box-shadow:0.1em 0.1em 0.25em #999;display:none;left:0;margin:0;padding:0;position:absolute;top:0;z-index:21400000000}
#spaces #menu li{display:block;padding:0}
#spaces #menu button{background:#ddd;border-color:#000;border-style:solid;border-width:0 0 0.05em;cursor:pointer;display:block;font-size:2em;padding:1em;text-align:left;width:100%}
#spaces #menu button:hover{background:#eee;box-shadow:0.1em 0.1em 0.5em #999}
#spaces #menu button::before{font-size:1.5em;margin:0 0.5em 0 0}

#spaces #users{border-color:#000;border-style:solid;border-width:0 0 0 0.1em;padding:1em;position:absolute;right:0;width:23em}
#spaces #users h2{background:#ccc;border-color:#000;border-style:solid;border-width:0 0 0.05em;font-size:2em;margin:-0.5em -0.5em 0;padding:0.5em;position:relative;z-index:2}
#spaces #users ul{padding:0;position:relative;z-index:2}
#spaces #users li{display:block;font-size:2em;list-style:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
#spaces #users li::before{content:"● "}
#spaces #users .active::before{color:#0f0}
#spaces #users .local::before{color:#999}
#spaces #users .offline::before{color:#f00}
#spaces #users span{background:#000;display:block;height:100%;left:0;opacity:0.1;position:absolute;top:0;width:100%;z-index:1}

#spaces #tray{background:#ddd;border-color:#666;border-style:solid none none;border-width:0.1em;bottom:0;display:block;height:5em;margin:0;padding:0;position:absolute;width:100%;z-index:1}
#spaces #tray li{box-shadow:0.15em 0.15em 0.5em #ccc;display:inline-block;margin:1em 1.5em 0}
#spaces #tray .box{box-shadow:none;position:static}
#spaces #tray .border{border-style:none;padding:0}
#spaces #tray h2{width:20em}

#spaces .box{border-style:none;box-shadow:0.15em 0.15em 1em #99c;left:auto;margin:0;padding:0;position:absolute;z-index:10}
#spaces .messageList .expansion span,
#spaces .box .parentDirectory span,
#spaces .fileList .expansion span,
#spaces .box .buttons span{display:block;height:0.05em;position:absolute;top:-200em;width:0.05em}
#spaces .box .buttons button,
#spaces .box .parentDirectory,
#spaces .box .expansion,
#spaces .box .footer button{border-radius:0;border-style:solid;box-shadow:0.1em 0.1em 0.25em #ccc;display:inline-block;font-size:2em;}
#spaces .box .buttons{font-weight:bold;margin:0;padding:0;position:absolute;right:0.5em;top:1.5em;z-index:7}
#spaces .box .parentDirectory,
#spaces .box .expansion,
#spaces .box .buttons button{border-width:0.05em;font-size:1.5em;font-weight:bold;height:1.5em;line-height:1;margin:0 1.5em 0 0;padding:0;width:1.5em}
#spaces .box .buttons button.minimize{background:#fdb;border-color:#930;color:#930}
#spaces .box .buttons button.maximize{background:#ddf;border-color:#009;color:#009}
#spaces .box .buttons button.close{background:#fdd;border-color:#900;color:#900}
#spaces .box h2.heading{border-style:none;float:left;font-size:1em;height:3.35em;margin:0;padding:0;position:relative;width:100%;z-index:6}
#spaces .box h2.heading button{background:#eee;border-color:#000;border-radius:0;border-style:solid;border-width:0.0555em;box-shadow:none;cursor:move;display:block;font-size:1.8em;height:100%;margin:0;overflow:hidden;padding:0.25em 0 0 0.5em;text-align:left;text-overflow:ellipsis;white-space:nowrap;width:100%}
#spaces .box .body{background:#fff;border-color:#000;border-style:solid;border-width:0.1em;clear:both;height:20em;margin-top:-.1em;overflow:scroll;padding:0;position:relative;right:0;top:0;width:75em;z-index:5}
#spaces .box .border{background:#ccc;border-color:#000;border-style:solid;border-width:0.1em;padding:0.75em;position:relative}
#spaces .box .corner-tl{background:transparent;border-color:#000;border-style:solid;border-width:0 0.1em 0.1em 0;cursor:nw-resize;font-size:1em;height:2em;left:0;position:absolute;text-indent:-2000em;top:0;width:2em;z-index:4}
#spaces .box .corner-tr{background:transparent;border-color:#000;border-style:solid;border-width:0 0 0.1em 0.1em;cursor:ne-resize;font-size:1em;height:2em;position:absolute;right:0;text-indent:-2000em;top:0;width:2em;z-index:4}
#spaces .box .corner-bl{background:transparent;border-color:#000;border-style:solid;border-width:0.1em 0.1em 0 0;bottom:0;cursor:sw-resize;font-size:1em;height:2em;left:0;position:absolute;text-indent:-2000em;width:2em;z-index:4}
#spaces .box .corner-br{background:transparent;border-color:#000;border-style:solid;border-width:0.1em 0 0 0.1em;bottom:0;cursor:se-resize;font-size:1em;height:2em;position:absolute;right:0;text-indent:-2000em;width:2em;z-index:4}
#spaces .box .side-t{background:transparent;border-style:none;cursor:ns-resize;font-size:1em;left:2em;height:1em;position:absolute;text-indent:-2000em;top:0;z-index:3}
#spaces .box .side-r{background:transparent;border-style:none;cursor:ew-resize;font-size:1em;right:0;position:absolute;text-indent:-2000em;top:2em;width:1em;z-index:3}
#spaces .box .side-b{background:transparent;border-style:none;bottom:0;cursor:ns-resize;font-size:1em;left:2em;height:1em;position:absolute;text-indent:-2000em;z-index:3}
#spaces .box .side-l{background:transparent;border-style:none;cursor:ew-resize;font-size:1em;left:0;position:absolute;text-indent:-2000em;top:2em;width:1em;z-index:3}
#spaces .box .footer{background:#eee;border-color:#000;border-style:none solid solid;border-width:0 0.1em 0.1em;bottom:0;display:block;margin:0;padding:2em;position:relative;text-align:right;z-index:4}
#spaces .box .footer button{border-width:0.05em;font-weight:bold;margin:0 0 0 2em}
#spaces .box .header{background:#fff;border-color:#000;border-style:none solid;border-width:0 0.1em;clear:both;display:block;margin:0;padding:0.5em 0.5em 0}
#spaces .box .header span{display:block;position:absolute;top:-200em}
#spaces .box .header .parentDirectory{background:#fdf;border-color:#606;color:#606;margin:0 0.825em 0.5em -2.35em}
#spaces .box .header input{border-style:none;display:inline-block;font-size:1.8em;height:1.2em;margin:0;padding:0;vertical-align:middle;width:100%}
#spaces .fileList li input.error,
#spaces .box .header .error{background:#fdd;color:#900;}
#spaces .box button.cancel{background:#fdd;border-color:#900;color:#900}
#spaces .box button.confirm{background:#dfd;border-color:#060;color:#060}

#spaces .box .body > textarea{background:#fff;border-style:none;color:#000;display:block;font-size:2em;height:100%;margin:0;overflow:scroll;padding:0;white-space:pre;width:100%}

#spaces .box .tabs{background:#999;height:5.7em;margin:0;padding:0}
#spaces .box .tabs li{border-style:none;display:block;margin:0;padding:0}
#spaces .box .tabs button{background:#ddd;border-color:#000;border-style:solid solid solid none;border-width:0.05em;display:block;float:left;font-size:2em;font-weight:bold;list-style:none;margin:0.25em 0 -0.1em 0;padding:0.5em 2%;width:33.3%}
#spaces .box .tabs button.active{background:#fff;border-style:none solid none none;margin:0 0 -0.1em 0;padding:0.8em 2% 0.55em;text-decoration:underline}
#spaces .box .tabs .status{color:#00c}
#spaces .box .tabs .users{color:#060}
#spaces .box .tabs .errors{color:#c00}
#spaces .messageList{border-color:#000;border-style:solid none none;border-width:0.1em;display:none;margin:-0.1em 0 0;padding:1em}
#spaces .messageList.active{display:block}
#spaces .messageList li{border-color:#ccc;border-style:none none solid;border-width:0 0 0.05em;font-family:monospace;font-size:2em;padding:0.25em 0;white-space:pre}
#spaces .messageList span{display:inline-block;font-weight:bold;margin:0 1em 0 0}
#spaces .messageList li .expansion{margin:0 0.5em 0 0}
#spaces .messageList li ul{display:none}
#spaces .messageList li li{font-size:1em}
#spaces #system-status,
#spaces #system-user,
#spaces #system-errors{clear:both;float:none}
#spaces #system-errors span{color:#c00;}

#spaces .fileList{margin:0;padding:0.25em 0 0 5em;}
#spaces .fileList label{cursor:text}
#spaces .fileList li{border-color:#eee;border-style:none none solid;border-width:0 0 0.1em;display:block;font-size:1.4em;list-style-type:none;padding:0.2em 0 1.2em;white-space:pre}
#spaces .fileList li ul{border-color:#eee;border-style:solid none none;border-width:0.1em 0 0;margin:1.25em 0 0;padding-left:3.5em}
#spaces .fileList li:hover{background:#ffc}
#spaces .fileList .directory::before{content: "📂 "}
#spaces .fileList .file::before{content: "📃 "}
#spaces .fileList .link::before{content: "🔗 "}
#spaces .fileList .lastType{border-color:#000}
#spaces .fileList .last{border-style:none;padding:0}
#spaces .fileList li.selected{background:#cfc}
#spaces .fileList li li{font-size:1em}
#spaces .fileList li span{display:block;float:right;margin:0 2em 0 0;white-space:normal;width:14em}
#spaces .fileList li .selection{position:absolute;top:-200em}
#spaces .messageList .expansion,
#spaces .fileList .expansion{background:#eee;border-color:#333;color:#333;font-size:1.075em;line-height:1;margin:0 2.4em 0 -3.9em}

/* code for testing */
/*
#spaces .box .corner-tl{background:red;}
#spaces .box .corner-tr{background:red;}
#spaces .box .corner-bl{background:red;}
#spaces .box .corner-br{background:red;}
#spaces .box .side-t{background:blue;}
#spaces .box .side-r{background:green;}
#spaces .box .side-b{background:blue;}
#spaces .box .side-l{background:green;}
*/
