html{font-family:"Lucida Sans Unicode","Helvetica","Arial",sans-serif;font-size:10px;margin:0;padding:0}
body{background:#cdf;margin:0;padding:0}
#spaces .title h1{background:#ddd;border-color:#666;border-style:none none solid;border-width:0.1em;box-shadow:0 0.05em 0.5em #66c;display:block;font-size:2em;margin:0;padding:0.5em}
#spaces .title p{margin:-1em 0 0;text-indent:-2000em}
#spaces #content-area{padding:2em}
#spaces button{font-family:inherit}

#spaces .box{border-style:none;box-shadow:0.15em 0.15em 1em #99c;left:auto;margin:0;padding:0;position:absolute;z-index:10}
#spaces .box .parentDirectory span,
#spaces .fileList .expansion span,
#spaces .box .buttons span{display:block;height:0.05em;position:absolute;top:-200em;width:0.05em}
#spaces .box .buttons button,
#spaces .box .parentDirectory,
#spaces .box .expansion,
#spaces .box .footer button{border-radius:0;border-style:solid;box-shadow:0.1em 0.1em 0.25em #ccc;display:inline-block;font-size:2em;}
#spaces .box .buttons{font-weight:bold;margin:0;padding:0;position:absolute;right:0.5em;top:1.5em;z-index:7}
#spaces .box .parentDirectory,
#spaces .box .expansion,
#spaces .box .buttons button{border-width:0.05em;font-size:1.5em;font-weight:bold;height:1.5em;line-height:1;margin:0 1.5em 0 0;padding:0;width:1.5em}
#spaces .box .buttons button.minimize{background:#fdb;border-color:#930;color:#930}
#spaces .box .buttons button.maximize{background:#ddf;border-color:#009;color:#009}
#spaces .box .buttons button.close{background:#fdd;border-color:#900;color:#900}
#spaces .box h2.heading{border-style:none;float:left;font-size:1em;height:3.35em;margin:0;padding:0;position:relative;width:100%;z-index:6}
#spaces .box h2.heading button{background:#eee;border-color:#000;border-radius:0;border-style:solid;border-width:0.0555em;box-shadow:none;cursor:move;display:block;font-size:1.8em;height:100%;margin:0;padding:0.25em 0 0 0.5em;text-align:left;width:100%}
#spaces .box .body{background:#fff;border-style:solid;border-width:0.1em;clear:both;height:20em;margin-top:-.1em;overflow:scroll;padding:1em;position:relative;right:0;top:0;width:75em;z-index:5}
#spaces .box .border{background:#ccc;border-color:#000;border-style:solid;border-width:0.1em;padding:0.75em;position:relative}
#spaces .box .corner-tl{background:transparent;border-color:#000;border-style:solid;border-width:0 0.1em 0.1em 0;cursor:nw-resize;font-size:1em;height:2em;left:0;position:absolute;text-indent:-2000em;top:0;width:2em;z-index:4}
#spaces .box .corner-tr{background:transparent;border-color:#000;border-style:solid;border-width:0 0 0.1em 0.1em;cursor:ne-resize;font-size:1em;height:2em;position:absolute;right:0;text-indent:-2000em;top:0;width:2em;z-index:4}
#spaces .box .corner-bl{background:transparent;border-color:#000;border-style:solid;border-width:0.1em 0.1em 0 0;bottom:0;cursor:sw-resize;font-size:1em;height:2em;left:0;position:absolute;text-indent:-2000em;width:2em;z-index:4}
#spaces .box .corner-br{background:transparent;border-color:#000;border-style:solid;border-width:0.1em 0 0 0.1em;bottom:0;cursor:se-resize;font-size:1em;height:2em;position:absolute;right:0;text-indent:-2000em;width:2em;z-index:4}
#spaces .box .side-t{background:transparent;border-style:none;cursor:ns-resize;font-size:1em;left:2em;height:1em;position:absolute;text-indent:-2000em;top:0;z-index:3}
#spaces .box .side-r{background:transparent;border-style:none;cursor:ew-resize;font-size:1em;right:0;position:absolute;text-indent:-2000em;top:2em;width:1em;z-index:3}
#spaces .box .side-b{background:transparent;border-style:none;bottom:0;cursor:ns-resize;font-size:1em;left:2em;height:1em;position:absolute;text-indent:-2000em;z-index:3}
#spaces .box .side-l{background:transparent;border-style:none;cursor:ew-resize;font-size:1em;left:0;position:absolute;text-indent:-2000em;top:2em;width:1em;z-index:3}
#spaces .box .footer{background:#eee;border-color:#000;border-style:none solid solid;border-width:0 0.1em 0.1em;bottom:0;display:block;margin:0;padding:2em;position:relative;text-align:right;z-index:4}
#spaces .box .footer button{border-width:0.05em;font-weight:bold;margin:0 0 0 2em}
#spaces .box .header{background:#fff;border-color:#000;border-style:none solid;border-width:0 0.1em;clear:both;display:block;margin:0;padding:0.5em 0.5em 0}
#spaces .box .header .parentDirectory{background:#fdf;border-color:#606;color:#606;margin:0 0.825em 0.5em -2.35em}
#spaces .box .header input{border-style:none;display:inline-block;font-size:1.8em;height:1.2em;margin:0;padding:0;vertical-align:middle;width:100%}
#spaces .box button.cancel{background:#fdd;border-color:#900;color:#900}
#spaces .box button.confirm{background:#dfd;border-color:#060;color:#060}

#spaces .fileList li{display:block;font-size:1.4em;list-style-type:none;padding:1em 0;white-space:pre}
#spaces .fileList li label:hover{background:#ffc}
#spaces .fileList .directory:before{content: "📂 "}
#spaces .fileList .file:before{content: "📃 "}
#spaces .fileList .link:before{content: "🔗 "}
#spaces .fileList .last {border-color:#000;border-style:none none solid;border-width:0 0 0.1em}
#spaces .fileList .even{background:#f8f8f8}
#spaces .fileList li li{font-size:1em}
#spaces .fileList li span{display:block;float:right;margin:0 2em 0 0;white-space:normal;width:14em}
#spaces .fileList .expansion{background:#eee;border-color:#333;color:#333;font-size:1.075em;line-height:1;margin:0 2.4em 0 -3.9em}

/* code for testing */
/*
#spaces .box .corner-tl{background:red;}
#spaces .box .corner-tr{background:red;}
#spaces .box .corner-bl{background:red;}
#spaces .box .corner-br{background:red;}
#spaces .box .side-t{background:blue;}
#spaces .box .side-r{background:green;}
#spaces .box .side-b{background:blue;}
#spaces .box .side-l{background:green;}
*/
